*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./piano1.jpg);
}

h1{
    text-align: center;
    color: #f3f1de;
}

p{
    color: #f3f1de;
    font-size: 25px;
    text-align: center;
    margin-bottom: 150px;
}

ul{
    display: flex;
    

}

li{
    list-style: none;
    text-align: center;
}

.white{
    width: 60px;
    height: 240px;
    background: #f3f1de;
    border: 2px solid #b6b293;
    border-radius: 0 0 8px 8px;
    color: rgb(40, 40, 92);
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 30px;
}

.white:active{
    background-color: grey;
}
.black:active{
    background-color: grey;
}


.black{
    height: 150px;
    width:60px;
    border: 2px solid rgb(237, 227, 227);
    border-radius: 5px;
    box-shadow: 0px 2px rgb(164, 144, 144);
    margin: 0 -25px;
    z-index: 2;
    background-color: black;
    border-radius: 0 0 8px 8px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

span{
    font-weight: bold ;
    padding-bottom: 10px;
}
